* {
   margin: 10px;
   padding: 10px;
}

body{

   background: white;
   color: #000;
   font-size: 24px;
   line-height: 1.2em;
   font-weight: 500;
  font-family: 'Slabo 27px',Georgia,"Times New Roman",serif;
}
h1 h2 h3{
    color: #333;
    line-height: 1em;
}
.container{
    
    box-shadow: 4px 3px 3px 3px #93e4cb;   
}
img{
    max-width: 100%;
}
/* cabecera */
.logo{
   display: flex;
   flex-flow: row nowrap;
   font-size: 17px;      
   align-items: center;     
    justify-content: center;   
   background-color: #86bcc1;
}

/*  MENU */
.nav-menu{
   display: flex;  
   flex:5;  
   align-items: right;
   justify-content: flex-end;   
}
ul li{
    list-style: none; 
  }  
  a{
  color: black;
  text-decoration: none;
  }
  .cuerpo{
    display: flex;
    flex-wrap: nowrap;  
  }
  .catalogo {
    display: flex;    
    flex-wrap: wrap;  
    flex: 2;
    
}
.productos {
    align-items: center;
    display: flex;  
   flex-basis: 25%;      
    flex-direction: column;
    text-align: center;
    /* max-width: 40%; */
    /* background: #fff; */
    padding: 1em;
    margin: 0.1em;
    justify-content: space-between;
    
}
/* .productos>p {
    si lo quito, lo junta con el titulo y se desalinea */
  

.lateral {    
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: justify;
   
    background: rgb(229, 229, 247);
    padding: 1em;
    margin: 0.1em;
    
}
.simone{
    max-width: 420px;
    flex: 1;    
}

#banner{
    display: flex;
    flex-direction: column;
    }
.pie{
    display: flex;   
  
}
.pie>li>a{
    color: #86bcc1;
}
/*responsive*/
@media screen and (max-width: 420px) {
    /* For mobile phones: */
    
  .container{
      flex-direction: column;
  }
  .logo{
    flex-direction: column;
  } 
  .nav-menu{
      font-size: 18px;
    flex-direction: column;
  }
  .catalogo{
    flex-direction: column;
  } .lateral {
    flex-direction: column;
    }
    .pie{
        flex-direction: column;
    }
     }
     /*for tablet*/
     @media screen and (max-width: 830px) {
     h2{
         font-size: 1em;
     }
      .container{
          flex-direction: column;
      }
      .logo{
        flex-direction: column;
      } 
      .nav-menu{
        font-size: 18px;
        
       
      }
      .catalogo{
        flex-direction: column;
      } .lateral {
        flex-direction: column;
        }
        .pie{
            flex-direction: column;
        }
         }
    
