<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
    <title>Document</title>
</head>

<body>
    <div id="my-app">
        <b>Mostrar y filtrar paises</b>
        <!--Iterar array con index:  Muestra la nota de cada estudiante i muestra el indice del array:  -->
        <ul>
            <li v-for="(pais,indice) in countries" :value="indice">
                {{pais}}
            </li>
        </ul>
        Filtro: <input type="text" v-model="pais">
        <ul>
            <li v-for="(pais,indice) in countriesFiltrados" :value="indice">
                {{pais}}
            </li>
        </ul>

    </div>

    <script>
        const app = new Vue({
            el: '#my-app',

            data: {
                mensaje: "Aqui hay un listado de paises a elegir",
                pais: '',

                countries: ['Alemania', 'USA', 'UK', 'Canada', 'SPAIN']
            },
            computed: {
                countriesFiltrados: function () {
                    return this.countries.filter(element =>
                        element.toUpperCase().includes(this.pais.toUpperCase()))
                }
            }
        })
    </script>
</body>

</html>